
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Display';
}

:root {
   
    --black: #1D1D1D;
    --common-bg:#F9FAFB;
    --red:#FF1B1B;
    --red-light:#FFCECF;
    --green:#00D93E;
    --light-green:rgba(0, 200, 136, 0.14);
    --light-gray:#667085;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--black);
    text-transform: none;
}
.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}

.secondary-btn {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: radial-gradient(93.17% 56.83% at 54.17% -22.22%, rgba(255, 250, 250, 0.10) 0%, rgba(229, 229, 229, 0.10) 100%);
    box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.20) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 6px 0px rgba(0, 0, 0, 0.20);
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.primary-btn {
    border-radius: 8px;
    background: radial-gradient(93.17% 56.83% at 54.17% -22.22%, #FFFAFA 0%, #E5E5E5 100%);
    /* box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.20) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 6px 0px rgba(0, 0, 0, 0.20); */
    padding: 10px 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    border: 1px solid rgb(255 0 0 / 20%);
}
/* global end  */

header.site-header {
    background: transparent;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #b8000a;
}
.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.site-logo a {
    color: #fff;
    font-size: 16px;
}
.site-nav ul a.active {
    border-bottom: 2px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.21) 241.96%);
}
.site-logo a img {
    margin-right: 3px;
}
.site-nav {
    margin-right: auto;
    margin-left: 100px;
}
.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.site-nav ul a {
    color: #fff;
    font-size: 16px;
    padding: 16px 12px;
}
.site-nav ul a span {
    margin-right: 8px;
}
.header-right {
    display: flex;
    gap: 16px;
}
.icons {
    display: flex;
    gap: 8px;
}
.icons span {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid color(display-p3 1 1 1 / 0.43);
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.avatar-content a {
    color: #fff;
}
.closed-btn {
    color: #fff;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
}
.toggle nav.site-nav {
    transform: translateX(0);
}
/* site banner start  */

.site-banner {
    height: 376px;
    background: radial-gradient(rgba(129, 0, 0, 0.76), rgb(34 5 5) );
}
.site-banner .container {
    height: 100%;
}
.banner-content-wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
a.toggle-btn {
    display: none;
    color: #fff;
    font-size: 20px;
}
.banner-content h1 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}
.banner-content p {
    font-size: 16px;
    color: #fff;
    margin: 0;
}
.banner-btns {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}
.banner-content {
    margin-bottom: 24px;
}
/* business section start  */
.business {
    position: relative;
    margin-top: -150px;
}
.business-wrap {
    border-radius: 16px;
    border: 1px solid rgba(227, 231, 237, 0.40);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
    backdrop-filter: blur(38.400001525878906px);
    padding: 20px;
}
.business-main {
    background: #fff;
    border-radius: inherit;
    border: 1px solid #E3E7ED;
}

.pagination {
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}
.pagination ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.pagination ul a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    aspect-ratio: 1;
    background: transparent;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    color: #647187;
}
.pagination ul a.active {
    background: radial-gradient(95% 95% at 50% 5%, #FF4751 0%, #D30000 100%);
    box-shadow: 0px 1.867px 1.867px 0px rgba(255, 205, 206, 0.25) inset;
    color: #fff;
}
.pagination button {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid  #CCD5DF;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
}

.business-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 24px;
    border-bottom: 1px solid  #E3E7ED;
    gap: 10px;
}

.business-header_left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.business-header_left h4 {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.business-header_left span {
    color: #1E4764;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 8px;
    border-radius: 16px;
    border: 1px solid #D6E5F2;
    background: #F2F6FB;
}
.business-header_right {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.layout-box svg {
    width: 20px;
    height: 20px;
}
.layout-box {
    border-radius: 8px;
    border: 1px solid #E7E9EB;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.view-all {
    border-radius: 8px;
    border: 1px solid #E7E9EB;
    background:  #FFF;
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    padding: 8px 12px;
    cursor: pointer;
}
.view-all span {
    color: #6F7B8C;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 12px;
}
.view-all span b {
    color: var(--black);
}
.search_bar {
    border-radius: 8px;
    border: 1px solid var(--Grey-G40, #E7E9EB);
    background: var(--Grey-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    padding: 6px 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}
.search_bar .input-control {
    border: 0;
    box-shadow: none;
    padding: 0;
}
.search_bar .input-control:focus-visible {
    outline: 0;
}
/* business body start  */

.business-footer {
    border-top: 1px solid #E3E7ED;
    margin-top: 40px;
}
aside.table-fixed_bar {
    box-shadow: 0 0 4px rgba(0 0 0 /10%);
}
.table-fixed_bar li {
    border-bottom: 1px solid  #E3E7ED;
    background: #fff;
    padding: 8px 24px;
    text-align: center;
}
.table-fixed_bar li h4 {
    color: #2E2E2E;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}
.table-fixed_bar li.action {
    background: #F8FAFB;
}
.table-fixed_bar li summary {
    list-style-type: none;
}
.table-fixed_bar li details {
    position: relative;
}
.edit-info {
    border-radius: 8px;
    border: 1px solid #E3E7ED;
    background: #FFF;
    box-shadow: 0px 4px 6.3px 0px rgba(0, 0, 0, 0.10);
    padding: 12px 16px;
    display: inline-flex;
    gap: 12px;
    position: absolute;
    width: max-content;
    right: 7px;
    top: 100%;
    margin-top: 2px;
    z-index: 1;
}
.business-list td.action .edit-info {
    right: 34px;
}
.edit-info button {
    background: transparent;
    border: 0;
}
.business-list tr:last-child td.action .edit-info {
    top: 0;
    transform: translateY(-100%);
}
/* table start  */
.business-table-warp {
    overflow-x: auto;
}
.table-wrapper {
    overflow-x: auto;
    scrollbar-width: none;
}
table.business-list {
    width: 100%;
    min-width: 1330px;
    user-select: none;
}
table.business-list h4, table.business-list p {
    padding: 12px 24px;
}
table.business-list th {
    background: #F8FAFB;
    border-bottom: 1px solid  #E3E7ED;
}

table.business-list td {
    background: #fff;
    border-bottom: 1px solid  #E3E7ED;
}
table.business-list th.actions {
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0 0 0 / 10%);
}
table.business-list h4{
    color: #2E2E2E;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
}
table.business-list p {
    color: #647087;
    font-size: 14px;
    line-height: 20px;
    margin: 0; 
}

.status-active {
    border-radius: 16px;
    border: 1px solid #F2F4F7;
    background: #F2F4F7;
    padding: 2px 8px 2px 20px;
    text-transform: capitalize;
    position: relative;
    color: #314155;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.status-active::before {
    content: "";
    position: absolute;
    background: #12B76A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.connect-btn {
    border-radius: 4px;
    border: 1px solid #E3E7ED;
    background: #F7FAFF;
    padding: 5px 8px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
}
.disconnect-btn {
    border-radius: 4px;
    border: 1px solid #FFCECF;
    background: #FFF9F9;
    color: #F00;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    padding: 7px 12px;
}
.test-btn {
    border-radius: 4px;
    border: 1px solid #E3E7ED;
    background: #FFF;
    padding: 5px 8px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}

.leads-btn {
    border-radius: 4px;
    border: 1px solid #E3E7ED;
    background: #FFF;
    padding: 5px 8px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}
.business-list .status-active {
    margin-inline: 24px;
}
.business-list td.web-hook .test-btn {
    margin-inline: 24px;
}
.business-list td.leads .leads-btn {
    margin-left: 24px;
}
/* tabe width  */

/* th.name {
    width: 187px;
}

th.address {
    width: 155px;
}

th.phone {
    width: 142px;
}

th.address {
    width: 214px;
}

th.status {
    width: 114px;
}

th.connection {
    width: 132px;
}

th.web-hook {
    width: 114px;
}

th.leads {
    width: 115px;
} */
td.name p {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0E1829;
    font-weight: 500;
}
td.address p {
    width: 167px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td.phone p {
    white-space: nowrap;
}
td.email p {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.status {
    text-align: center;
}
td.connection {
    text-align: center;
}

.business-list th:last-child, .business-list td:last-child {
    position: sticky;
    right: 0;
    background-color: #fff;
    z-index: 1;
}
td.action details {
    position: relative;
    text-align: center;
}

.business-list tr:last-child th, .business-list tr:last-child td {
    border-bottom: 0;
}
.business-list td.action.active {
    z-index: 50;
}
/* business card layout start  */
.business-card-layout {
    background: #fbfdfe;
    padding: 24px 24px 8px;
}
.business-card-layout .grid {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.buisness-card {
    border: 1px solid #E1E5E5;
    border-radius: 8px;
    background: #fff;
}
.buisness-card .card-head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 16px 8px 0 16px;
}
.card-head .status-active {
    margin-left: auto;
    margin-right: 5px;
}
.card-head-right details {
    position: relative;
}

.card-head-left h4 {
    color: #121212;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.card-body {
    padding: 16px;
}
.buisness-card .card-body {
    padding: 0 16px 23px;
}
.card-body ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}
.card-body ul li:not(:last-child) {
    margin-bottom: 12px;
}
.card-body ul li p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
    overflow: hidden;
    color: #647087;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.card-body ul li h6{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
    overflow: hidden;
    color: #647087;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}
.card-footer {
    padding: 12px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E1E5E5;
}
.card-footer .test-btn {
    margin-left: auto;
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card-footer .leads-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.buisness-card .edit-info {
    flex-direction: column;
}
.user-card-layout .buisness-card .card-head {
    margin-bottom: 10px;
}
.user-card-layout .card-head-left h4 {
    margin-bottom: 0;
    line-height: 1;
}
.user-card-layout .card-head-left  span {
    color: #647087;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
/* form start  */
.form-group {
    margin-bottom: 18px;
}
.label-control {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}
.input-control {
    display: block;
    width: 100%;
    resize: none;
    border-radius: 8px;
    border: 1px solid var(--Grey-G40, #E7E9EB);
    box-shadow: 0px 1px 2px 0px color(display-p3 0.0627 0.0941 0.1569 / 0.05);
    padding: 8px 14px;
}
textarea.input-control {
    height: 82px;
}
textarea#address {
    background-image: url(../images/map-pin.svg);
    background-repeat: no-repeat;
    background-position: 14px 10px;
    padding-left: 35px;
}
/* business popup start  */
.business-modal .modal-dialog {
    max-width: 646px;
}
.modal-footer .primary-btn {
    border-radius: 8px;
    background: radial-gradient(93.17% 56.83% at 54.17% -22.22%, #FFB0B2 0%, #F00 100%);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 6px -3px rgba(0, 0, 0, 0.20);
    color: #fff;
}

.business-modal .modal-header h4 {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.business-modal .modal-content {
    border-radius: 0;
}
.business-modal .modal-header button.btn-close {
    background-size: 11px;
    padding: 0;
    margin-right: 8px;
}
.modal-body {
    padding: 24px;
}
.business-modal .modal-footer {
    padding: 12px 24px;
}
.modal-footer .btn-secondary {
    border-radius: 8px;
    border: 1px solid var(--Grey-G40, #E7E9EB);
    background: var(--White-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    color: #000;
    text-transform: capitalize;
    padding: 8px 12px;
}