
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Display';
}

:root {
   
    --black: #1D1D1D;
    --common-bg:#F9FAFB;
    --red:#FF1B1B;
    --red-light:#FFCECF;
    --green:#00D93E;
    --light-green:rgba(0, 200, 136, 0.14);
    --light-gray:#667085;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--black);
    text-transform: none;
}
.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}

.secondary-btn {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: radial-gradient(93.17% 56.83% at 54.17% -22.22%, rgba(255, 250, 250, 0.10) 0%, rgba(229, 229, 229, 0.10) 100%);
    box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.20) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 6px 0px rgba(0, 0, 0, 0.20);
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s linear;
}
.secondary-btn:hover {
    background: #D30000;
}
.primary-btn {
    border-radius: 8px;
    background: radial-gradient(93.17% 56.83% at 54.17% -22.22%, #FFFAFA 0%, #E5E5E5 100%);
    /* box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.20) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 6px 0px rgba(0, 0, 0, 0.20); */
    padding: 10px 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
    border: 1px solid rgb(255 0 0 / 20%);
    transition: all 0.2s linear;
}
.primary-btn:hover {
    opacity: 0.5;
}
.input-control:focus-visible {
    outline: 1px solid var(--red);
}
/* global end  */

header.site-header {
    background: transparent;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #b8000a;
}
.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.site-logo a {
    color: #fff;
    font-size: 16px;
}
.site-nav ul a.active {
    border-bottom: 2px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.21) 241.96%);
}
.site-logo a img {
    margin-right: 3px;
}
.site-nav {
    margin-right: auto;
    margin-left: 100px;
}
.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.site-nav ul a {
    color: #fff;
    font-size: 16px;
    padding: 16px 12px;
}
.site-nav ul a span {
    margin-right: 8px;
}
.header-right {
    display: flex;
    gap: 16px;
}
.icons {
    display: flex;
    gap: 8px;
}
.icons span {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid color(display-p3 1 1 1 / 0.43);
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.avatar-content a {
    color: #fff;
}
button.profile-name {
    background: transparent;
    border: 0;
    color: #fff;
    position: relative;
}
.profile-dropdown {
    position: absolute;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 6.3px 0px rgba(0, 0, 0, 0.10);
    color: #000;
    width: max-content;
    padding: 2px 8px;
    right: 0;
    top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}
.profile-dropdown::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -20px;
    right: 13px;
    z-index: 2;
}
button.profile-name:hover .profile-dropdown{
    opacity: 1;
    visibility:visible;
}
.profile-dropdown li a {
    color: #282828;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 8px;
    padding: 6px 10px;
}
.closed-btn {
    color: #fff;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
}
.toggle nav.site-nav {
    transform: translateX(0);
}
.notification-icon {
    position: relative;
}
.notification-icon sup {
    width: 10px;
    height: 10px;
    background: #FF8913;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}
/* site banner start  */

.site-banner {
    height: 376px;
    background: radial-gradient(rgba(129, 0, 0, 0.76), rgb(34 5 5) );
}
.site-banner .container {
    height: 100%;
}
.banner-content-wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
a.toggle-btn {
    display: none;
    color: #fff;
    font-size: 20px;
}
.banner-content h1 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}
.banner-content p {
    font-size: 16px;
    color: #fff;
    margin: 0;
}
.banner-btns {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}
.banner-content {
    margin-bottom: 24px;
}
/* business section start  */
.business {
    position: relative;
    margin-top: -150px;
}
.business-wrap {
    border-radius: 16px;
    border: 1px solid rgba(227, 231, 237, 0.40);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
    backdrop-filter: blur(38.400001525878906px);
    padding: 20px;
}
.business-main {
    background: #fff;
    border-radius: inherit;
    border: 1px solid #E3E7ED;
}

.pagination {
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}
.pagination ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.pagination ul a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    aspect-ratio: 1;
    background: transparent;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    color: #647187;
}
.pagination ul a.active {
    background: radial-gradient(95% 95% at 50% 5%, #FF4751 0%, #D30000 100%);
    box-shadow: 0px 1.867px 1.867px 0px rgba(255, 205, 206, 0.25) inset;
    color: #fff;
}
.pagination button {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid  #CCD5DF;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    transition: all 0.2s linear;
}

.pagination button:hover {
    background: #D30000;
}
.pagination button:hover svg path {
    stroke: #fff !important;
}
.business-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 24px;
    border-bottom: 1px solid  #E3E7ED;
    gap: 10px;
}

.business-header_left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.business-header_left h4 {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.business-header_left span {
    color: #1E4764;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 8px;
    border-radius: 16px;
    border: 1px solid #D6E5F2;
    background: #F2F6FB;
}
.business-header_right {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.layout-box svg {
    width: 20px;
    height: 20px;
}
.layout-box {
    border-radius: 8px;
    border: 1px solid #E7E9EB;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.view-all {
    border-radius: 8px;
    border: 1px solid #E7E9EB;
    background:  #FFF;
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    padding: 8px 12px;
    cursor: pointer;
}
.view-all span {
    color: #6F7B8C;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 12px;
}
.view-all span b {
    color: var(--black);
}
.search_bar {
    border-radius: 8px;
    border: 1px solid var(--Grey-G40, #E7E9EB);
    background: var(--Grey-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    padding: 6px 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}
.search_bar .input-control {
    border: 0;
    box-shadow: none;
    padding: 0;
}
.search_bar .input-control:focus-visible {
    outline: 0;
}
/* business body start  */

.business-footer {
    border-top: 1px solid #E3E7ED;
    margin-top: 40px;
}
aside.table-fixed_bar {
    box-shadow: 0 0 4px rgba(0 0 0 /10%);
}
.table-fixed_bar li {
    border-bottom: 1px solid  #E3E7ED;
    background: #fff;
    padding: 8px 24px;
    text-align: center;
}
.table-fixed_bar li h4 {
    color: #2E2E2E;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}
.table-fixed_bar li.action {
    background: #F8FAFB;
}
.table-fixed_bar li summary {
    list-style-type: none;
}
.table-fixed_bar li details {
    position: relative;
}
.edit-info {
    border-radius: 8px;
    border: 1px solid #E3E7ED;
    background: #FFF;
    box-shadow: 0px 4px 6.3px 0px rgba(0, 0, 0, 0.10);
    padding: 12px 16px;
    display: inline-flex;
    gap: 12px;
    position: absolute;
    width: max-content;
    right: 7px;
    top: 100%;
    margin-top: 2px;
    z-index: 1;
}
.business-list td.action .edit-info {
    right: 34px;
}
.edit-info button {
    background: transparent;
    border: 0;
}
.business-list tr:last-child td.action .edit-info {
    top: 0;
    transform: translateY(-100%);
}
/* table start  */
.business-table-warp {
    overflow-x: auto;
}
.table-wrapper {
    overflow-x: auto;
    scrollbar-width: none;
}
table.business-list {
    width: 100%;
    min-width: 1330px;
    user-select: none;
}
table.business-list h4, table.business-list p {
    padding: 12px 24px;
}
table.business-list th {
    background: #F8FAFB;
    border-bottom: 1px solid  #E3E7ED;
}

table.business-list td {
    background: #fff;
    border-bottom: 1px solid  #E3E7ED;
}
table.business-list th.actions {
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0 0 0 / 10%);
}
table.business-list h4{
    color: #2E2E2E;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
}
table.business-list p {
    color: #647087;
    font-size: 14px;
    line-height: 20px;
    margin: 0; 
}

.status-active {
    border-radius: 16px;
    border: 1px solid #F2F4F7;
    background: #F2F4F7;
    padding: 2px 8px 2px 20px;
    text-transform: capitalize;
    position: relative;
    color: #314155;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.status-active::before {
    content: "";
    position: absolute;
    background: #12B76A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.connect-btn {
    border-radius: 4px;
    border: 1px solid #E3E7ED;
    background: #F7FAFF;
    padding: 5px 8px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
}
.disconnect-btn {
    border-radius: 4px;
    border: 1px solid #FFCECF;
    background: #FFF9F9;
    color: #F00;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    padding: 7px 12px;
}
.test-btn {
    border-radius: 4px;
    border: 1px solid #E3E7ED;
    background: #FFF;
    padding: 5px 8px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}

.leads-btn {
    border-radius: 4px;
    border: 1px solid #E3E7ED;
    background: #FFF;
    padding: 5px 8px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}
.business-list .status-active {
    margin-inline: 24px;
}
.business-list td.web-hook .test-btn {
    margin-inline: 24px;
}
.business-list td.leads .leads-btn {
    margin-left: 24px;
}
/* tabe width  */

/* th.name {
    width: 187px;
}

th.address {
    width: 155px;
}

th.phone {
    width: 142px;
}

th.address {
    width: 214px;
}

th.status {
    width: 114px;
}

th.connection {
    width: 132px;
}

th.web-hook {
    width: 114px;
}

th.leads {
    width: 115px;
} */
td.name p {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0E1829;
    font-weight: 500;
}
td.address p {
    width: 167px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
td.phone p {
    white-space: nowrap;
}
td.email p {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.status {
    text-align: center;
}
td.connection {
    text-align: center;
}
td.connection button {
    margin-right: 20px;
}

.business-list th:last-child, .business-list td:last-child {
    position: sticky;
    right: 0;
    z-index: 1;
}
.business-list td:last-child {
    background-color: #fff;
}
td.action details {
    position: relative;
    text-align: center;
}

.business-list tr:last-child th, .business-list tr:last-child td {
    border-bottom: 0;
}
.business-list td.action.active {
    z-index: 50;
}
/* business card layout start  */
.business-card-layout {
    background: #fbfdfe;
    padding: 24px 24px 8px;
}
.business-card-layout .grid {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.buisness-card {
    border: 1px solid #E1E5E5;
    border-radius: 8px;
    background: #fff;
}
.buisness-card .card-head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 16px 8px 0 16px;
}
.card-head .status-active {
    margin-left: auto;
    margin-right: 5px;
}
.card-head-right details {
    position: relative;
}

.card-head-left h4 {
    color: #121212;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.card-body {
    padding: 16px;
}
.buisness-card .card-body {
    padding: 0 16px 23px;
}
.card-body ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}
.card-body ul li:not(:last-child) {
    margin-bottom: 12px;
}
.card-body ul li p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
    overflow: hidden;
    color: #647087;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.card-body ul li h6{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
    overflow: hidden;
    color: #647087;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}
.card-footer {
    padding: 12px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E1E5E5;
}
.card-footer .test-btn {
    margin-left: auto;
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.card-footer .leads-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.buisness-card .edit-info {
    flex-direction: column;
}
.user-card-layout .buisness-card .card-head {
    margin-bottom: 10px;
}
.user-card-layout .card-head-left h4 {
    margin-bottom: 0;
    line-height: 1;
}
.user-card-layout .card-head-left  span {
    color: #647087;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
/* form start  */
.form-group {
    margin-bottom: 18px;
    width: 100%;
}
.label-control {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    color: #445469;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.input-control {
    display: block;
    width: 100%;
    resize: none;
    border-radius: 8px;
    border: 1px solid var(--Grey-G40, #E7E9EB);
    box-shadow: 0px 1px 2px 0px color(display-p3 0.0627 0.0941 0.1569 / 0.05);
    padding: 8px 14px;
}
.label-control sup, .label-control sub {
    font-size: 14px;
    top: 0;
    left: -2px;
}
textarea.input-control {
    height: 82px;
}
textarea#address {
    background-image: url(../images/map-pin.svg);
    background-repeat: no-repeat;
    background-position: 14px 10px;
    padding-left: 35px;
}
input#email-address {
    background-image: url(../images/mail-icon.svg);
    background-repeat: no-repeat;
    background-position: 14px center;
    padding-left: 35px;
}
select.input-control {
    appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/arrow-down-dark.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    cursor: pointer;
}
.countries_warp {
    position: relative;
    display: grid;
    grid-template-columns: 80px 1fr;
}
.countries_warp input#phone {
    position: relative;
    margin-left: -8px;
    border-left: 0;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.countries_warp select#countryCode:focus-visible {
    outline: 0;
}
.web-hook-opp {
    position: relative;
}
.web-hook-opp span {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    border-right: 1px solid #E7E9EB;
    padding-right: 12px;
    color: #647187;
    font-size: 14px;
    line-height: 24px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
input#webHook {
    padding-left: 95px;
}
/* business popup start  */
.business-modal .modal-dialog {
    max-width: 646px;
}
.modal-footer .primary-btn {
    border-radius: 8px;
    background: radial-gradient(93.17% 56.83% at 54.17% -22.22%, #FFB0B2 0%, #F00 100%);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 6px -3px rgba(0, 0, 0, 0.20);
    color: #fff;
}

.business-modal .modal-header h4 {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.business-modal .modal-content {
    border-radius: 0;
}
.business-modal .modal-header button.btn-close {
    background-size: 11px;
    padding: 0;
    margin-right: 8px;
}
.modal-body {
    padding: 24px;
}
.business-modal .modal-footer {
    padding: 12px 24px;
}
.modal-footer .btn-secondary {
    border-radius: 8px;
    border: 1px solid var(--Grey-G40, #E7E9EB);
    background: var(--White-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    color: #000;
    text-transform: capitalize;
    padding: 8px 12px;
}

/* profile popup start  */
.profile-modal .modal-content {
    padding: 20px 24px;
}

.profile-modal .modal-body {
    padding: 0 0 20px;
}
.profile-modal .form-group .grid {
    margin-bottom: 12px;
}
.profile-modal  .modal-footer {
    gap: 8px;
    justify-content: space-between;
    padding: 20px 0 0;
}
.profile-modal .modal-footer .form-group {
    margin-bottom: 20px;
}
.profile-modal .input-control::placeholder {
    color: #848E9C;
}
.profile-modal .modal-footer button {
    display: block;
    width: calc(50% - 4px);
    margin: 0;
}
.profile-modal .modal-header {
    border: 0;
    display: block;
    border-bottom: 1px solid #E3E7ED;
    padding: 0 0 16px;
}
.profile-modal .modal-header h4 {
    color: #000;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.profile_dp {
    text-align: center;
    padding: 16px 0;
}
.profile_dp button {
    display: inline-flex;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #E7E9EB;
    background: radial-gradient(93.17% 56.83% at 54.17% -22.22%, rgba(255, 250, 250, 0.10) 0%, rgba(229, 229, 229, 0.10) 100%);
    padding: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.profile_dp figure {
    width: 102px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
.profile_dp figure > img {
    width: 100%;
    height: 100%;
}
.profile_dp .profile-edit {
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 14.3px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.profile_dp .profile-edit img {
    padding: 5px;
}
.profile-modal p {
    margin: 0;
}
.profile-modal  .form-group {
    margin-bottom: 8px;
}
.business-modal .modal .modal-dialog {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    transform: translateX(100%);
}
.business-modal .modal.show .modal-dialog {
    transform: translateX(0);
}
/* toggle switch start  */
.switch {
    position: relative;
    width: 36px;
    height: 20px;
    margin-left: auto;
    display: block;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s linear;
    border-radius: 40px;
    background:#BCC1C9;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: all 0.2s linear;
    filter: drop-shadow(0px 1px 2px rgba(14, 24, 41, 0.06)) drop-shadow(0px 1px 3px rgba(14, 24, 41, 0.10));
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color:#7FC700;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #BCC1C9;
}
  
input:checked + .slider:before {
    transform: translateX(16px);
}
.form-header p em {
    font-weight: 600;
    color: #000;
}
/* delete popup start  */
.delete-modal .modal-dialog {
    max-width: 400px;
}
.delete-modal .modal-content {
    padding: 24px;
}
.delete-modal .modal-body {
    padding: 0 0 24px;
}
.delete-modal .modal-body h3 {
    color: var(--black);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.delete-modal .modal-body p {
    margin: 0;
    color: #647187;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.delete-modal  .modal-footer {
    padding: 0;
    border: 0;
    justify-content: space-between;
}
.delete-modal .modal-footer button {
    display: block;
    width: calc(50% - 4px);
    margin: 0;
}
.delete-icon {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    border: 8px solid  #FFF7F6;
    background: #FFEDED;
    margin: 0 auto 20px;
}

/* add new user popup  */
.user-form .grid {
    grid-column-gap: 18px;
}
.user-business-modal .modal-header h4 {
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

/* login pages start  */
.common-form-style {
    width: 100%;
    margin: 0 auto;
}
.form-wrap {
    box-shadow: 0 0 5px rgba(0 0 0 /5%);
    position: relative;
    height: 100%;
}
.form-inner {
    padding: 32px;
    max-width: 420px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.form-wrap .item {
    height: 100vh;
}
.form-inner form {
    padding: 32px 0;
}
.form-inner p {
    margin: 0;
    color: #445469;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.form-icon {
    background-image: url("../images/form-pattern.svg");
    height: 156px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}
.form-icon a {
    background: radial-gradient(93.71% 93.71% at 20.73% 10.98%, #FFA9AC 0%, #FC0000 100%);
    width: 58px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 32.537px 29.707px 12.732px 0px rgba(135, 0, 0, 0.02), 21.22px 18.39px 11.317px 0px rgba(135, 0, 0, 0.15), 11.317px 11.317px 9.902px 0px rgba(135, 0, 0, 0.50), 5.659px 4.244px 7.073px 0px rgba(135, 0, 0, 0.85), 1.415px 1.415px 4.244px 0px rgba(135, 0, 0, 0.98);
    margin: 0 auto;
}
.form-header h4 {
    color: var(--black);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
}
.form-header p {
    color: #657384;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.form-img figure {
    height: 100%;
}

.form-img figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-img {
    height: 100%;
}
label[for="rememeber"] {
    cursor: pointer;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    min-width: 16px;
    aspect-ratio: 1;
    border: 1px solid #eee;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid var(--red);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
input[type="checkbox"]:checked::before {
    opacity: 1;
}
.rememeber-forget {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;
}
.rememeber {
    display: flex;
    align-items: center;
    gap: 8px;
}
.rememeber label.label-control {
    margin: 0;
}

.from-btn button {
    display: block;
    width: 100%;
    height: 42px;
    padding: 8px 16px;
    border-radius: 8px;
    background: radial-gradient(93.17% 56.83% at 54.17% -22.22%, #FFB0B2 0%, #F00 100%);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.08) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 6px -3px rgba(0, 0, 0, 0.20);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    border: 0;
}
.form-btm-para p {
    margin: 0;
    color: #647187;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.form-btm-para a {
    color: var(--red);
    margin-left: 3px;
}

.form-bottom {
    padding: 32px 0 0;
    margin-top: auto;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.form-wrap .grid {
    height: 100%;
}
.verification-code {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 32px;
    margin-bottom: 24px;
}
.verification-code .input-control {
    text-align: center;
}
.verification-code + .from-btn {
    margin-bottom: 32px;
}